@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #efefef !important;
}
.bg-success {
  background-color: #2969b0 !important;
}
.bg-info {
  background-color: #efefef !important;
}
.bg-warning {
  background-color: #efefef !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-secondary {
  background-color: #3d8eb9;
  border-color: #3d8eb9;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #2a627f;
  border-color: #2a627f;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #2a627f !important;
  border-color: #2a627f !important;
}
.btn-info {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-success {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-warning {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #24536c;
  color: #24536c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #3d8eb9;
  border-color: #3d8eb9;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #3d8eb9 !important;
  border-color: #3d8eb9 !important;
}
.btn-info-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-success-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #efefef !important;
}
.text-success {
  color: #2969b0 !important;
}
.text-info {
  color: #efefef !important;
}
.text-warning {
  color: #efefef !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #2969b0;
}
.alert-info {
  background-color: #efefef;
}
.alert-warning {
  background-color: #efefef;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #efefef;
}
.btn-social:hover {
  background: #efefef;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #efefef;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #efefef;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #efefef;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #efefef;
}
.lead a,
.lead a:hover {
  color: #efefef;
}
.lead blockquote {
  border-color: #efefef;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #79aae0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #efefef;
}
#msg-box3-1b .mbr-section-title,
#msg-box3-1b p {
  color: #000;
}
#msg-box3-1b .mbr-section-title {
  color: #333333;
}


#menu-x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x .navbar-caption {
  color: #ffffff;
}
#menu-x .navbar-toggler {
  color: #ffffff;
}
#menu-x .close-icon::before,
#menu-x .close-icon::after {
  background-color: #ffffff;
}
#menu-x .link,
#menu-x .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-x .link {
  font-size: 0.85rem;
}
#menu-x .dropdown-item,
#menu-x .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-x .link:hover,
#menu-x .dropdown-item:hover,
#menu-x .link:focus,
#menu-x .dropdown-item:focus {
  color: #efefef;
}
#menu-x .link[aria-expanded="true"],
#menu-x .dropdown-menu {
  background: #0e0e0e;
}
#menu-x .nav-dropdown-sm .link:focus,
#menu-x .nav-dropdown-sm .link:hover,
#menu-x .nav-dropdown-sm .dropdown-item:focus,
#menu-x .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-x .navbar,
#menu-x .nav-dropdown-sm,
#menu-x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x .bg-color.transparent.opened .link:hover,
#menu-x .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-x .link[aria-expanded="true"],
#menu-x .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#header1-1i .mbr-section-lead {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#header1-1i .mbr-section-title {
  text-align: center;
}
#content5-1h .mbr-section-title,
#content5-1h p {
  color: #fff;
}
#content5-1h .mbr-section-title {
  text-align: right;
}
#content5-1h P {
  text-align: right;
}
#msg-box3-1g .mbr-section-title,
#msg-box3-1g p {
  color: #000;
}
#form1-1e .form-control-label {
  color: #efefef;
}
#form1-1e .mbr-section-title {
  color: #efefef;
}
#contacts2-13 P {
  color: #232323;
}
#contacts2-13 STRONG {
  color: #1e1e1e;
}


#menu-x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x .navbar-caption {
  color: #ffffff;
}
#menu-x .navbar-toggler {
  color: #ffffff;
}
#menu-x .close-icon::before,
#menu-x .close-icon::after {
  background-color: #ffffff;
}
#menu-x .link,
#menu-x .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-x .link {
  font-size: 0.85rem;
}
#menu-x .dropdown-item,
#menu-x .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-x .link:hover,
#menu-x .dropdown-item:hover,
#menu-x .link:focus,
#menu-x .dropdown-item:focus {
  color: #efefef;
}
#menu-x .link[aria-expanded="true"],
#menu-x .dropdown-menu {
  background: #0e0e0e;
}
#menu-x .nav-dropdown-sm .link:focus,
#menu-x .nav-dropdown-sm .link:hover,
#menu-x .nav-dropdown-sm .dropdown-item:focus,
#menu-x .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-x .navbar,
#menu-x .nav-dropdown-sm,
#menu-x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x .bg-color.transparent.opened .link:hover,
#menu-x .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-x .link[aria-expanded="true"],
#menu-x .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#header1-y .mbr-section-lead {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#header1-y .mbr-section-title {
  text-align: center;
}
#content5-z .mbr-section-title,
#content5-z p {
  color: #fff;
}
#content5-z .mbr-section-title {
  text-align: right;
}
#content5-z P {
  text-align: right;
}
#msg-box3-11 .mbr-section-title,
#msg-box3-11 p {
  color: #000;
}
#form1-12 .form-control-label {
  color: #efefef;
}
#form1-12 .mbr-section-title {
  color: #efefef;
}
#contacts2-13 P {
  color: #232323;
}
#contacts2-13 STRONG {
  color: #1e1e1e;
}


#menu-14 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-14 .navbar-caption {
  color: #ffffff;
}
#menu-14 .navbar-toggler {
  color: #ffffff;
}
#menu-14 .close-icon::before,
#menu-14 .close-icon::after {
  background-color: #ffffff;
}
#menu-14 .link,
#menu-14 .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#menu-14 .link {
  font-size: 0.85rem;
}
#menu-14 .dropdown-item,
#menu-14 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-14 .link:hover,
#menu-14 .dropdown-item:hover,
#menu-14 .link:focus,
#menu-14 .dropdown-item:focus {
  color: #efefef;
}
#menu-14 .link[aria-expanded="true"],
#menu-14 .dropdown-menu {
  background: #0e0e0e;
}
#menu-14 .nav-dropdown-sm .link:focus,
#menu-14 .nav-dropdown-sm .link:hover,
#menu-14 .nav-dropdown-sm .dropdown-item:focus,
#menu-14 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-14 .navbar,
#menu-14 .nav-dropdown-sm,
#menu-14 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-14 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-14 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-14 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-14 .bg-color.transparent.opened .link:hover,
#menu-14 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-14 .link[aria-expanded="true"],
#menu-14 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#header1-15 .mbr-section-lead {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#header1-15 .mbr-section-title {
  text-align: center;
}
#content5-16 .mbr-section-title,
#content5-16 p {
  color: #fff;
}
#content5-16 .mbr-section-title {
  text-align: right;
}
#content5-16 P {
  text-align: right;
}
#content5-16 DIV {
  color: #efefef;
  text-align: right;
}
#msg-box3-18 .mbr-section-title,
#msg-box3-18 p {
  color: #000;
}
#form1-19 .form-control-label {
  color: #efefef;
}
#form1-19 .mbr-section-title {
  color: #efefef;
}
#contacts2-1a P {
  color: #232323;
}
#contacts2-1a STRONG {
  color: #1e1e1e;
}
